<div role="tabpanel" class="tab-pane active" id="step1">
  <div class="form-group clearfix">
    <div class="col-xs-12">
      <div class="col-md-6">
        <%= f.label(:move_out_location, "Move Out", ) %>
        <% if current_user.schoolname == "Albright College" %>
          <%= f.select(:move_out_location, options_for_select(@locations1.map{ |s| [s, s.tr(' ', '').underscore]}), class: 'form-control', required: true) %>
        <% elsif current_user.schoolname == "Palm Beach Atlantic" %>
          <%= f.select(:move_out_location, options_for_select(@locations2.map{ |s| [s, s.tr(' ', '').underscore]}), class: 'form-control', required: true)%>
        <% elsif current_user.schoolname == "Kutztown University" %>
          <%= f.select(:move_out_location, options_for_select(@locations3.map{ |s| [s, s.tr(' ', '').underscore]}), class: 'form-control', required: true) %>
        <% end %>

        <!-- TODO -->
        <%#= f.select(:move_out_location, options_for_select(@locations.map{ |s| [s, s.tr(' ', '').underscore]}), class: 'form-control', required: true) %>

      </div>
      <div class="col-md-6">
        <%= f.label(:move_out_room, "Room #", class: 'block') %>
        <%= f.text_field(:move_out_room,class: 'form-control', required: true) %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-md-6">
        <%= f.label(:move_in_location, "Move In") %>
        <% if current_user.schoolname == "Albright College" %>
          <%= f.select(:move_in_location, options_for_select(@locations.map{ |s| [s, s.tr(' ', '').underscore]}), class: 'form-control', required: true) %>
        <% elsif current_user.schoolname == "Palm Beach Atlantic" %>
          <%= f.select(:move_in_location, options_for_select(@locations2.map{ |s| [s, s.tr(' ', '').underscore]}), class: 'form-control', required: true) %>
        <% elsif current_user.schoolname == "Kutztown University" %>
          <%= f.select(:move_in_location, options_for_select(@locations3.map{ |s| [s, s.tr(' ', '').underscore]}), class: 'form-control', required: true) %>
        <% end %>

        <!-- TODOD -->
        <%#= f.select(:move_in_location, options_for_select(@locations.map{ |s| [s, s.tr(' ', '').underscore]}), class: 'form-control', required: true) %>
      </div>
      <div class="col-md-6">
        <%= f.label(:move_in_room, "Room #", class: 'block') %>
        <%= f.text_field(:move_in_room, class: 'form-control', required: true) %>
      </div>
      <div class="col-md-6">
        <p>-------------------------------------------If you have a special request for a separate move-out or move-in date fill in the boxes below. Note that any pick-up or delivery not within the listed time and date for your school will result in additional charges starting at $25</p>

        <%= f.label(:move_out_date, "Move Out", class: 'block') %>
        <%= f.date_field(:move_out_date, class: 'form-control', required: false) %>
      </div>
      <div class="col-md-6">
        <%= f.label(:move_in_date, "Move Inn", class: 'block') %>
        <%= f.date_field(:move_in_date, class: 'form-control', required: false) %>
      </div>

    </div>
  </div>
</div>
