<div role="tabpanel" class="tab-pane" id="step2">
  <div class="plans" data-type="plans-features">
    <h2>Choose amount of items by size & Give Description</h2>
    <div class="plan" data-type="small"  data-price=<%= 3500 %>>
      <img src="https://www.stowsimple.com/images/2x4%20Urbin%20Closet_COLLEGE.gif" alt="">
      <h3 class="plan-title">Small Items</h3>
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-padding-16"> Boxed TV (< 18inx18inx18in)</li>
        <li class="w3-padding-16"> Mirror</li>
        <li class="w3-padding-16"> Stool</li>
        <li class="w3-padding-16">Fan</li>
      <p class="plan-price">$35 <span class="plan-unit">per month</span></p>
      <ul class="plan-features">
      </ul>

      <%= label_tag("small_item_count", "number of items", class: 'block') %>
      <%= number_field_tag("small_item_count", nil, class: 'form-control', min: 0) %>
      <%= label_tag("small_item_description", "description of items", class: 'block') %>
      <%= text_field_tag("small_item_description", nil, class: 'form-control') %>
    </div>

    <div class="plan plan-highlight" data-type="medium" data-price=<%= 4500 %>>
      <p class="plan-recommended">Recommended</h3>
      <img src="https://www.stowsimple.com/images/2x4%20Urbin%20Closet_COLLEGE.gif" alt="">
      <h3 class="plan-title">Medium Items</h3>
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-padding-16">Box(< 24inx24inx24in)</li>
        <li class="w3-padding-16"> Plastic Bin/Tote</li>
        <li class="w3-padding-16"> Tv in box < 32in</li>
        <li class="w3-padding-16"> Suitcase</li>
      <p class="plan-price">$45 <span class="plan-unit">per month</span></p>
      <ul class="plan-features">
      </ul>

      <%= label_tag("medium_item_count", "number of items", class: 'block') %>
      <%= number_field_tag("medium_item_count", nil, class: 'form-control', min: 0) %>
      <%= label_tag("medium_item_description", "description of items", class: 'block') %>
      <%= text_field_tag("medium_item_description", nil, class: 'form-control') %>
    </div>

    <div class="plan" data-type="large" data-price=<%= 6000 %>>
      <img src="https://www.stowsimple.com/images/5x5%20Urbin%20Closet_COLLEGEv2.gif" alt="">

      <h3 class="plan-title">Large Items</h3>
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-padding-16">TV(>32in < 48in)</li>
        <li class="w3-padding-16"> Large Plastic Bin</li>
        <li class="w3-padding-16"> Mini Fridge</li>
        <li class="w3-padding-16"> Desk Chair</li>
      </ul>
      <p class="plan-price">$60 <span class="plan-unit">per month</span></p>
      <ul class="plan-features">
      </ul>

      <%= label_tag("large_item_count", "number of items", class: 'block') %>
      <%= number_field_tag("large_item_count", nil, class: 'form-control', min: 0) %>
      <%= label_tag("large_item_description", "description of items", class: 'block') %>
      <%= text_field_tag("large_item_description", nil, class: 'form-control') %>
    </div>

    <div class="plan" data-type="extra_large"  data-price=<%= 7500 %>>
      <img src="https://www.stowsimple.com/images/5x8%20Urbin%20Closet_COLLEGE%20copy.gif" alt="">
      <h3 class="plan-title">Extra Large</h3>
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
				<li class="w3-padding-16">TV(>48in < 60in) </li>
				<li class="w3-padding-16">Small Dresser</li>
				<li class="w3-padding-16"> Twin Mattress/Box</li>
				<li class="w3-padding-16">Desk</li>
      <p class="plan-price">$75 <span class="plan-unit">per month</span></p>
      <ul class="plan-features">
      </ul>

      <%= label_tag("extra_large_item_count", "number of items", class: 'block') %>
      <%= number_field_tag("extra_large_item_count", nil, class: 'form-control', min: 0) %>
      <%= label_tag("extra_large_item_description", "description of items", class: 'block') %>
      <%= text_field_tag("extra_large_item_description", nil, class: 'form-control') %>
    </div>

    <div class="plan" data-type="huge"  data-price=<%= 9500 %>>
      <img src="https://www.stowsimple.com/images/Icon_SS_Large%20Storage%20Unit.gif" alt="">
      <h3 class="plan-title">Huge Items</h3>
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
				<li class="w3-padding-16"><b>50GB</b> TV(>60in < 70in)</li>
				<li class="w3-padding-16">Full-Queen</li>
				<li class="w3-padding-16">Large Dresser</li>
				<li class="w3-padding-16"> Couch</li>
      <p class="plan-price">$95 <span class="plan-unit">per month</span></p>

      <ul class="plan-features">
      </ul>

      <%= label_tag("huge_item_count", "number of items", class: 'block') %>
      <%= number_field_tag("huge_item_count", nil, class: 'form-control', min: 0) %>
      <%= label_tag("huge_item_description", "description of items", class: 'block') %>
      <%= text_field_tag("huge_item_description", nil, class: 'form-control') %>

    </div>
  </div>

  <div class="step2list">
  <li>All of your items are stored in secure climate controlled storage facilities. You may also desire Declared Value Coverage which can be bought at $3.00 for $100.00 in coverage for an item. (Up to $300.00 per item)</li>
  <li>A $25 non-refundable registration deposit  is due on May 1st. Deposit will count towards your total cost of service. Registration after the deadline may incur a $20 late fee.</li>
  <li>Free pick up and delivery are scheduled for the summer on Monday the 15th , Tuesday the 16th , and around move in day in the fall. Exact dates and times will be given for each student at final registration.</li>
  </div>

</div>
