<div id="blue">
  <div class="container">
	<div class="row">
		<h3>Pricing.</h3>
	</div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div>

<h1>Hello <%= current_user.firstname %></h1>
  <ul class="nav nav-tabs" role="tablist">


    <li role="presentation" class="active">
      <a href="#step1" aria-controls="step1" role="tab" data-toggle="tab">Move times</a>
    </li>
    <li role="presentation" class="disabledTab">
      <a id="mySelect" href="#step2" aria-controls="step2" role="tab" data-toggle="tab" >Items</a>
    </li>
    <li role="presentation" class="disabledTab">
      <a href="#step3" aria-controls="step3" role="tab" data-toggle="tab">Tips</a>
    </li>
    <li role="presentation" class="disabledTab">
      <a href="#step4" aria-controls="step4" role="tab" data-toggle="tab">Purchasing</a>
    </li>
  </ul>

  <!-- Tab panes -->

    <%= form_for(@purchase) do |f| %>
      <div class="tab-content">
        <%= render 'purchases/step1', f: f %>
        <%= render 'purchases/step2', f: f %>
        <%= render 'purchases/step3', f: f %>
        <%= render 'purchases/step4', f: f %>
      </div>
      <%= link_to 'Next', nil, data: { is_done: false, url: 'url_to_make_post_here' }, class: 'purchase-form-btn btn btn-info'%>
    <% end %>

</div>



<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>About</h4>
        <div class="hline-w"></div>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <div class="col-lg-4">
        <h4>Social Links</h4>
        <div class="hline-w"></div>
        <h3>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-tumblr"></i></a>
        </h3>
      </div>
      <div class="col-lg-4">
        <h4>Our Bunker</h4>
        <div class="hline-w"></div>

          Some Ave, 987,<br/>
          23890, New York,<br/>
          United States.<br/>
        </h3>
      </div>

    </div><! --/row -->
  </div><! --/container -->
</div><! --/footerwrap -->
