<!DOCTYPE html>
<html>

  <head>
    <title>SSS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template -->
   <link href="http://www.blacktie.co/demo/solid/assets/css/style.css" rel="stylesheet">
   <link href="http://www.blacktie.co/demo/solid/assets/css/font-awesome.min.css" rel="stylesheet">

  <link href="assets/css/bootstrap.css" rel="stylesheet">



  </head>

  <body>
    <%= render '/layouts/nav' %>
    <!-- Fixed navbar -->



    <%= yield %>



  </body>
</html>
